@import url("./hero.scss");
@import url("./description.scss");
@import url("./video.scss");
@import url("./feedback.scss");
@import url("./our-team.scss");
@import url("./action.scss");
@import url("./end-description.scss");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #252B42;
}

