@import url("../styles/hero.scss");
@import url("../styles/description.scss");
@import url("../styles/video.scss");
@import url("../styles/feedback.scss");
@import url("../styles/our-team.scss");
@import url("../styles/action.scss");
@import url("../styles/end-description.scss");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #252B42;
}

